<header class="contact-header">
    <!-- Always describe what you see in your sketch/rendering for the design with markup -->
    <div class="logo">{% include icons/axis-logo.svg %}</div>
    
    <nav>
		<!-- This will bring the user back to the home page -->
        <a href="https://executive-eagle.github.io/axis-v2/">Home</a>
		
		<!-- Social Network link(s) -->
		<a href="https://www.instagram.com/">
			<div class="ig-icon">{% include icons/ig-icon.svg %}</div>
		</a>
    </nav>
    
</header>