<section class="alt-section section-work">
	<div id="lightgallery">

		
		<a href="assets/img/axis-images/img1/img1.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img1/thumb.jpg" style="background-image: url(assets/img/axis-images/img1/thumb.jpg);" alt="img1">

				<div class="thumb-overlay">
					<strong>img1</strong>
				</div>
				</div>
			</div>
		</a>


		<a href="assets/img/axis-images/img2/img2.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img2/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img2/thumb.jpg);" alt="img2">

				<div class="thumb-overlay">
					<strong>img2</strong>
				</div>
				</div>
			</div>
		</a>


		<a href="assets/img/axis-images/img3/img3.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img3/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img3/thumb.jpg);" alt="img3">

				<div class="thumb-overlay">
					<strong>img3</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img4/img4.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img4/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img4/thumb.jpg);" alt="img4">

				<div class="thumb-overlay">
					<strong>img4</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img5/img5.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img5/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img5/thumb.jpg);" alt="img5">

				<div class="thumb-overlay">
					<strong>img5</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img6/img6.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img6/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img6/thumb.jpg);" alt="img6">

				<div class="thumb-overlay">
					<strong>img6</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img7/img7.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img7/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img7/thumb.jpg);" alt="img7">

				<div class="thumb-overlay">
					<strong>img7</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img8/img8.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img8/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img8/thumb.jpg);" alt="img8">

				<div class="thumb-overlay">
					<strong>img8</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img9/img9.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img9/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img9/thumb.jpg);" alt="img9">

				<div class="thumb-overlay">
					<strong>img9</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img10/img10.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img10/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img10/thumb.jpg);" alt="img10">

				<div class="thumb-overlay">
					<strong>img10</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img11/img11.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img11/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img11/thumb.jpg);" alt="img11">

				<div class="thumb-overlay">
					<strong>img11</strong>
				</div>
				</div>
			</div>
		</a>												

		
		<a href="assets/img/axis-images/img12/img10.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img12/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img12/thumb.jpg);" alt="img12">

				<div class="thumb-overlay">
					<strong>img12</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img13/img13.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img13/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img13/thumb.jpg);" alt="img13">

				<div class="thumb-overlay">
					<strong>img13</strong>
				</div>
				</div>
			</div>
		</a>		

		
		<a href="assets/img/axis-images/img14/img14.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img14/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img14/thumb.jpg);" alt="img14">

				<div class="thumb-overlay">
					<strong>img14</strong>
				</div>
				</div>
			</div>
		</a>		

		
		<a href="assets/img/axis-images/img15/img15.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img15/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img15/thumb.jpg);" alt="img15">

				<div class="thumb-overlay">
					<strong>img15</strong>
				</div>
				</div>
			</div>
		</a>

		
		<a href="assets/img/axis-images/img16/img16.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img16/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img16/thumb.jpg);" alt="img16">

				<div class="thumb-overlay">
					<strong>img16</strong>
				</div>
				</div>
			</div>
		</a>		

		
		<a href="assets/img/axis-images/img17/img17.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img17/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img17/thumb.jpg);" alt="img17">

				<div class="thumb-overlay">
					<strong>img17</strong>
				</div>
				</div>
			</div>
		</a>				

		
		<a href="assets/img/axis-images/img18/img18.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img18/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img17/thumb.jpg);" alt="img18">

				<div class="thumb-overlay">
					<strong>img18</strong>
				</div>
				</div>
			</div>
		</a>				

		
		<a href="assets/img/axis-images/img19/img19.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img19/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img19/thumb.jpg);" alt="img17">

				<div class="thumb-overlay">
					<strong>img19</strong>
				</div>
				</div>
			</div>
		</a>				
		
		
		<a href="assets/img/axis-images/img20/img20.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img20/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img20/thumb.jpg);" alt="img20">

				<div class="thumb-overlay">
					<strong>img20</strong>
				</div>
				</div>
			</div>
		</a>		
		
		
		<a href="assets/img/axis-images/img20/img20.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img20/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img20/thumb.jpg);" alt="img20">

				<div class="thumb-overlay">
					<strong>img20</strong>
				</div>
				</div>
			</div>
		</a>		

		
		<a href="assets/img/axis-images/img21/img21.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img21/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img21/thumb.jpg);" alt="img21">

				<div class="thumb-overlay">
					<strong>img21</strong>
				</div>
				</div>
			</div>
		</a>		
		
		
		<a href="assets/img/axis-images/img22/img22.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img22/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img22/thumb.jpg);" alt="img22">

				<div class="thumb-overlay">
					<strong>img22</strong>
				</div>
				</div>
			</div>
		</a>		
		
		
		<a href="assets/img/axis-images/img23/img23.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img23/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img23/thumb.jpg);" alt="img23">

				<div class="thumb-overlay">
					<strong>img23</strong>
				</div>
				</div>
			</div>
		</a>		
		
		
		<a href="assets/img/axis-images/img24/img24.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img24/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img24/thumb.jpg);" alt="img24">

				<div class="thumb-overlay">
					<strong>img24</strong>
				</div>
				</div>
			</div>
		</a>		
		
		
		<a href="assets/img/axis-images/img25/img25.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img25/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img25/thumb.jpg);" alt="img25">

				<div class="thumb-overlay">
					<strong>img25</strong>
				</div>
				</div>
			</div>
		</a>		
		
		
		<a href="assets/img/axis-images/img26/img26.jpg">

			<div class="thumb-container">

				<div class="thumb-unit">
					<img src="assets/img/axis-images/img26/thumb.jpg" style="background-image: url({{site.baseurl}}/assets/img/axis-images/img26/thumb.jpg);" alt="img26">

				<div class="thumb-overlay">
					<strong>img26</strong>
				</div>
				</div>
			</div>
		</a>		
		
		
	</div>

</section>
		
<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
</script>